In [109]:
'''Question 1 Write a python program to display all the header tags from wikipedia.org and make data frame.'''
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'http://www.wikipedia.org'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# Find all header tags (h1, h2, h3, etc.)
header_tags = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])


# Create a DataFrame with each header text in a separate row
df = pd.DataFrame({'Wikipedia': [tag.text.strip() for tag in header_tags]})
df

                            Wikipedia
0  Wikipedia\n\nThe Free Encyclopedia
1            1,000,000+\n\n\narticles
2              100,000+\n\n\narticles
3               10,000+\n\n\narticles
4                1,000+\n\n\narticles
5                  100+\n\n\narticles

In [46]:
'''Question 2 Write s python program to display list of respected team rank from
https://www.icc-cricket.com/rankings/team-rankings/mens/odi 
and make data frame.'''

from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/team-rankings/mens/odi'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# Find all anchor tags with the specified class
mens_ranking_links = soup.find_all('a', class_='category-nav')

# Initialize an empty list to store cleaned text
cleaned_text_list = []

# Iterate through the links and append cleaned text to the list
for link in mens_ranking_links:
    cleaned_text = link.text.strip()
    cleaned_text_list.append(cleaned_text)

# Create a DataFrame with each cleaned text in a separate column
df = pd.DataFrame({'Ranking Links': cleaned_text_list})
df

                        Ranking Links
0            Men's Test Team Rankings
1             Men's ODI Team Rankings
2            Men's T20I Team Rankings
3         Men's Test Batting Rankings
4          Men's ODI Batting Rankings
5         Men's T20I Batting Rankings
6         Men's Test Bowling Rankings
7          Men's ODI Bowling Rankings
8         Men's T20I Bowling Rankings
9     Men's Test All-Rounder Rankings
10     Men's ODI All-Rounder Rankings
11    Men's T20I All-Rounder Rankings
12         Women's T20I Team Rankings
13          Women's ODI Team Rankings
14      Women's T20I Batting Rankings
15       Women's ODI Batting Rankings
16       Womens T20I Bowling Rankings
17        Womens ODI Bowling Rankings
18  Women's T20I ALL-Rounder Rankings
19   Women's ODI ALL-Rounder Rankings

In [78]:
# Q5. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.cnbc.com/world/?region=world'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# Find all anchor tags with the specified class for headlines
headlines = soup.find_all('a', class_='Card-title')

# Extract headlines text and create a DataFrame
headlines_list = [headline.text.strip() for headline in headlines]
df = pd.DataFrame({'Headline': headlines_list})

# Print the DataFrame
df

                                             Headline
0   The stock market has cooled off to start 2024,...
1   Bitcoin’s post-ETF launch sell-off could conti...
2   The consumer will be the key next week with re...
3   Dow closes more than 100 points lower Friday, ...
4   Here are Wall Street's top semiconductor stock...
5   Goldman says it's time to buy this unloved glo...
6   Here's why Buffett calls airline stocks hazard...
7   Bitcoin slid after key ETFs debuted. What it m...
8   Goldman picks China stocks in case there's a r...
9   Pacific Islands lash out at COP28 presidency: ...
10  What the COP28 deal means for the U.S. amid re...
11  COP28 climate summit ends with deal to transit...
12  Anger and frustration as COP28 draft text omit...
13  A ‘thirsty’ generative AI boom poses a growing...
14  Ukraine says it needs China for any peace proc...
15  Ukraine says China needed for peace process af...
16  U.S. Ukraine assistance 'ground to a halt'; Ze...
17  Ukraine and Russia both say they want peace. E...
18  Sanctioned Western tech is still entering Russ...
19  Bahamas PM fears climate action could be sidel...
20  Earth close to breaching 1.5 degrees Celsius a...
21  Norway poised to open vast ocean area to contr...
22  Oil industry veteran to lead next round of UN ...
23  CNBC’s Sustainable Future Forum 2023: Watch th...
24  Southeast Asia is on the cusp of a 'supercharg...
25  Cambodia's deputy prime minister: BRI has help...
26  Southeast Asia's first luxury hotel made from ...
27  Ahead of Indonesia’s elections, critics slam J...
28  Laos is spiraling toward a debt crisis as Chin...
29  Americans are canceling trips that are thousan...
30  Social media uproar may cost the Maldives mill...
31  An new train pass is launching in Japan — but ...
32  Will air fares remain high in 2024? Here's wha...
33  Why foreign workers are flocking to this 700-y...
34  You are 48% more likely to land a first date i...
35  How 27-year-old whose business brought in $1 m...
36  The 'holy grail' of longevity foods this docto...
37  The No. 1 in-demand remote job companies are h...
38  The ultimate guide to acing your interview and...

In [104]:
'''Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details 
and make data frame-'''

from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# Find all anchor tags with the specified class for headlines
titles = soup.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")

# Extracting Titles
titles_list = [title.text.strip() for title in titles]

# Create a DataFrame
df = pd.DataFrame({'Title': titles_list})

# Print the DataFrame
df

                                                Title
0                                    Reward is enough
1   Explanation in artificial intelligence: Insigh...
2              Creativity and artificial intelligence
3   Conflict-based search for optimal multi-agent ...
4   Knowledge graphs as tools for explainable mach...
5   Law and logic: A review from an argumentation ...
6   Between MDPs and semi-MDPs: A framework for te...
7   Explaining individual predictions when feature...
8       Multiple object tracking: A literature review
9   A survey of inverse reinforcement learning: Ch...
10  Evaluating XAI: A comparison of rule-based and...
11  Explainable AI tools for legal reasoning about...
12            Hard choices in artificial intelligence
13  Assessing the communication gap between AI mod...
14  Explaining black-box classifiers using post-ho...
15  The Hanabi challenge: A new frontier for AI re...
16              Wrappers for feature subset selection
17  Artificial cognition for social human–robot in...
18  A review of possible effects of cognitive bias...
19  The multifaceted impact of Ada Lovelace in the...
20  Robot ethics: Mapping the issues for a mechani...
21          Reward (Mis)design for autonomous driving
22  Planning and acting in partially observable st...
23  What do we want from Explainable Artificial In...

In [91]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# Find all span tags with the specified class for authors
authors = soup.find_all('span', class_="sc-1w3fpd7-0 dnCnAO")

# Extracting Authors
authors_list = [author.text.strip() for author in authors]

# Create a DataFrame
df = pd.DataFrame({'Authors': authors_list})

# Print the DataFrame
df

                                              Authors
0   David Silver, Satinder Singh, Doina Precup, Ri...
1                                          Tim Miller
2                                   Margaret A. Boden
3   Guni Sharon, Roni Stern, Ariel Felner, Nathan ...
4                      Ilaria Tiddi, Stefan Schlobach
5                      Henry Prakken, Giovanni Sartor
6     Richard S. Sutton, Doina Precup, Satinder Singh
7           Kjersti Aas, Martin Jullum, Anders Løland
8                Wenhan Luo, Junliang Xing and 4 more
9                       Saurabh Arora, Prashant Doshi
10  Jasper van der Waa, Elisabeth Nieuwburg, Anita...
11  Joe Collenette, Katie Atkinson, Trevor Bench-C...
12   Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz
13  Oskar Wysocki, Jessica Katharine Davies and 5 ...
14  Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...
15          Nolan Bard, Jakob N. Foerster and 13 more
16                         Ron Kohavi, George H. John
17      Séverin Lemaignan, Mathieu Warnier and 3 more
18    Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz
19                             Luigia Carlucci Aiello
20             Patrick Lin, Keith Abney, George Bekey
21     W. Bradley Knox, Alessandro Allievi and 3 more
22  Leslie Pack Kaelbling, Michael L. Littman, Ant...
23             Markus Langer, Daniel Oster and 6 more

In [95]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# Find all p tags with the specified class for publication times
times = soup.find_all('span', class_="sc-1thf9ly-2 dvggWt")

# Extracting Times
time_list = [time.text.strip() for time in times]

# Create a DataFrame
df = pd.DataFrame({'Publication Time': time_list})

# Print the DataFrame
df

              Time
0     October 2021
1    February 2019
2      August 1998
3    February 2015
4     January 2022
5     October 2015
6      August 1999
7   September 2021
8       April 2021
9      August 2021
10   February 2021
11      April 2023
12   November 2021
13      March 2023
14        May 2021
15      March 2020
16   December 1997
17       June 2017
18       June 2021
19       June 2016
20      April 2011
21      March 2023
22        May 1998
23       July 2021

In [107]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

# Find all a tags within the specified class for paper URLs
paper_urls = soup.find_all('a', class_='sc-5smygv-0 fIXTHm')

# Extracting Paper URLs
paper_url_list = [paper_url['href'] for paper_url in paper_urls]

# Create a DataFrame
df = pd.DataFrame({'Paper URL': paper_url_list})

# Print the DataFrame
print(df)
df

                                            Paper URL
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...

                                            Paper URL
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...