In [14]:
print('Question One')

Question One

In [2]:
print('Start')

Start

In [1]:
#Importing Library
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
# Assigning driver
driver = webdriver.Chrome()

In [3]:
#Getting the web-page
driver.get('https://www.shine.com/')
# setting up delay
time.sleep(5)

In [6]:
# Locate the input field using XPath
job_title = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input" )
# Enter the text 'Data Analyst' into the input field
job_title.send_keys('Data Analyst')

In [8]:
# Locate the input field using XPath
job_location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")

#Enter the text 'Bangalore' into the input field
job_location.send_keys('Bangalore')

In [12]:
# Locate the search field using XPath
job_search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
# Executing click
job_search.click()

In [13]:
# Assigning empty list
titles = []
locations = []

In [14]:
# Locate the title field using XPath
title_tag = driver.find_elements(By.XPATH, "//h2[@itemprop='name']/a")
# Iterate over the elements and extract text
for index, item in enumerate(title_tag):
    if index >= 10:
        break
    title = item.text.strip()
    titles.append(title)

In [15]:
location_tag = driver.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for index, item in enumerate(location_tag):
    if index >= 10:
        break
    location = item.text.strip()
    locations.append(location)

In [39]:
print(locations)

['Bangalore', 'Bangalore\n+3', 'Bangalore\n+14', 'Bangalore\n+6', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore\n+4', 'Bangalore\n+13']

In [16]:
df = pd.DataFrame({'Job Title': titles,'Location':locations})
df

                                           Job Title        Location
0                                  Lead Data Analyst       Bangalore
1                                       Data Analyst   Bangalore\n+3
2                           Vacancy For Data Analyst  Bangalore\n+14
3                                    Data Management  Bangalore\n+18
4                              Clinical Data Analyst   Bangalore\n+6
5                                  Data Modeler data       Bangalore
6  Full time Opportunity-Networking Advisor-Cisco...   Bangalore\n+5
7                                      Data Modeller       Bangalore
8                             Data Modeler Bangalore       Bangalore
9                                       Data Modeler       Bangalore

In [16]:
print('Question Two')

Question Two

In [31]:
driver2 = webdriver.Chrome()
driver2.get('https://www.shine.com/')
time.sleep(5)

In [35]:
job_title = driver2.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
job_title.send_keys('Data Scientist')

In [36]:
job_location = driver2.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
job_location.send_keys('Bangalore')

In [43]:
job_search = driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
job_search.click()

In [44]:

titles_DS = []
locations_DS = []

In [50]:
# Iterate over the elements and extract text

title_tag2 = driver.find_elements(By.XPATH, "//h2[@itemprop='name']/a")
for index, item in enumerate(title_tag2):
    if index >= 10:
        break
    title2 = item.text
    titles_DS.append(title2)

location_tagDS = driver.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for index, item in enumerate(location_tagDS):
    if index >= 10:
        break
    location2 = item.text.strip()
    locations_DS.append(location2)

<selenium.webdriver.remote.webelement.WebElement (session="d3080e55e2539be9cabdd431d1bf7346", element="6BC26B230308A89783610FC23AB0D502_element_50")>

[]

In [23]:
df2 = pd.DataFrame({'Job Title': titles_DS,'Location':locations_DS})
df2

                                    Job Title        Location
0                           Lead Data Analyst       Bangalore
1                                Data Analyst   Bangalore\n+3
2                    Vacancy For Data Analyst  Bangalore\n+14
3                       Clinical Data Analyst   Bangalore\n+6
4                           Data Modeler data       Bangalore
5                               Data Modeller       Bangalore
6                      Data Modeler Bangalore       Bangalore
7                                Data Modeler       Bangalore
8                       Clinical Data Analyst   Bangalore\n+4
9  Data Analyst Hiring Fresher and Experience  Bangalore\n+13

In [13]:
print('Question Three')

Question Three

In [3]:
driver3 = webdriver.Chrome()
driver3.get('https://www.shine.com/')
time.sleep(5)

In [5]:
job_title = driver3.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input" )
job_title.send_keys('Data Scientist')

job_location = driver3.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
job_location.send_keys('Delhi/NCR')

job_experience = driver3.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[3]/div/input[1]")
job_experience.send_keys('3-6')

In [6]:
job_search = driver3.find_element(By.CLASS_NAME, 'btn.btn-secondary.undefined')
job_search.click()

In [29]:
title_tag3 = driver3.find_elements(By.XPATH, "//h2[@itemprop='name']//a")
titlesx = []

for index, i in enumerate(title_tag3):
    if index >= 10:
        break
    title3 = i.text
    titlesx.append(title3)


location_tag3 = driver3.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
locationsx = []

# Iterate over the elements and extract text
for index, location_element in enumerate(location_tag3):
    if index >= 10:
        break
    location_text = location_element.text
    locationsx.append(location_text)


experience_tag3 = driver3.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
experiencex = []
for index, i in enumerate(experience_tag3):
    if index >= 10:
        break
    experience3 = i.text
    experiencex.append(experience3)

In [30]:
print(locationsx)

['8 to 13 Yrs', '3 to 7 Yrs', '0 to 7 Yrs', '1 to 2 Yrs', '5 to 9 Yrs', '3 to 7 Yrs', '2 to 6 Yrs', '5 to 9 Yrs', '8 to 12 Yrs', '2 to 4 Yrs']

In [32]:
df3 = pd.DataFrame({'Job Title': titlesx,'Location':locationsx,'Experience':experiencex})
df3

,Job Title,Location,Experience
0,Data Scientist | Senior Data Scientist Chennai,8 to 13 Yrs,Chennai
1,Data Scientist/Data Analyst-17740,3 to 7 Yrs,All India
2,Data Scientist /Quantitative Equity Researcher 2,0 to 7 Yrs,Other Maharashtra
3,Data Scientist,1 to 2 Yrs,Hyderabad\n+1
4,Data Scientist,5 to 9 Yrs,Other Haryana
5,Data Scientist,3 to 7 Yrs,All India
6,Data Scientist,2 to 6 Yrs,Other Karnataka
7,Lead Data Scientist,5 to 9 Yrs,Other Karnataka
8,Lead Data Scientist,8 to 12 Yrs,Other Maharashtra\n+1
9,Data Scientist,2 to 4 Yrs,Other Karnataka

In [33]:
print('Question Four')

Question Four

In [2]:
driver4 = webdriver.Chrome()
driver4.get('https://www.flipkart.com/')
time.sleep(5)

In [3]:
product_search = driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product_search.send_keys('sunglasses')

In [4]:
product_rate = driver4.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')

In [9]:
print(product_run2)

<selenium.webdriver.remote.webelement.WebElement (session="76557651003aba13d8cdd69ebc977ca3", element="0CFFA7957109D249E8C736215E029F05_element_188")>

In [6]:
# Now proceed with finding elements
product_tags = driver4.find_elements(By.XPATH, "//div[@class='_2WkVRV']")

product_tags2 = driver4.find_elements(By.XPATH, "//div[@class='_2WkVRV']")

product_tags3 = driver4.find_elements(By.XPATH, "//div[@class='_2WkVRV']")

#Defining list
productx = []

# Iterate over the elements and extract text
for i in product_tags:
    produce = i.text
    productx.append(produce)

for i in product_tags2:
    produce2 = i.text
    productx.append(produce2)

In [9]:
print(productx)

['ROZZETTA CRAFT', 'NuVew', 'Elligator', 'ROYAL SON', 'ROYAL SON', 'Elligator', 'PROVOGUE', 'ROYAL SON', 'PIRASO', 'Fastrack', 'Eyenaks', 'AISLIN', 'Singco India', 'Singco India', 'PIRASO', 'PIRASO', 'ROYAL SON', 'NuVew', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROYAL SON', 'NuVew', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Royaltail', 'Rich Club', 'AISLIN', 'NuVew', 'SRPM', 'PIRASO', 'ROYAL SON', 'Eyewearlabs', 'Singco India', 'METRONAUT', 'PIRASO', 'PC STAR', 'Hooper', 'ROYAL SON', 'BKGE', 'Elgator', 'ROZZETTA CRAFT', 'NuVew', 'Elligator', 'ROYAL SON', 'ROYAL SON', 'Elligator', 'PROVOGUE', 'ROYAL SON', 'PIRASO', 'Fastrack', 'Eyenaks', 'AISLIN', 'Singco India', 'Singco India', 'PIRASO', 'PIRASO', 'ROYAL SON', 'NuVew', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROYAL SON', 'NuVew', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Royaltail', 'Rich Club', 'AISLIN', 'NuVew', 'SRPM', 'PIRASO', 'ROYAL SON', 'Eyewearlabs', 'Singco India', 'METRONAUT', 'PIRASO', 'PC STAR', 'Hooper', 'ROYAL SON', 'BKGE', 'Elgator']

In [7]:
dt4 = pd.DataFrame({'Product':productx})
dt4

           Product
0   ROZZETTA CRAFT
1        Royaltail
2           PIRASO
3        ROYAL SON
4           PIRASO
..             ...
75        PROVOGUE
76       ROYAL SON
77       ROYAL SON
78          PIRASO
79       ROYAL SON

[80 rows x 1 columns]

In [8]:
print('Question 5')

Question 5

In [2]:
driver5 = webdriver.Chrome()
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')
time.sleep(5)

In [3]:
product_runs = driver5.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
ratingx = []

# Iterate over the elements and extract text
for product_run in product_runs:
    rating = product_run.text.strip()
    ratingx.append(rating)

In [4]:
print(ratingx)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [5]:
product_sum = driver5.find_elements(By.XPATH, '//div[@class="row"]//p')
store = []
for item in product_sum:
    summary = item.text.strip()
    store.append(summary)

In [9]:
df5 = pd.DataFrame({'Summary':store})
df5

                            Summary
0                  Perfect product!
1                     Kuldeep Kumar
2            Certified Buyer, Kalka
3                         Apr, 2021
4                 Worth every penny
5                 Abhishek Sachdeva
6      Certified Buyer, Kurukshetra
7                         Jan, 2020
8               Best in the market!
9                    Steevan Rattra
10        Certified Buyer, Ludhiana
11                        Nov, 2019
12                         Terrific
13                Manish Deshlahare
14          Certified Buyer, Raipur
15                        Jul, 2020
16                   Classy product
17              Vishnu Ramakrishnan
18  Certified Buyer, Perinthalmanna
19                        Apr, 2021
20                        Wonderful
21                Flipkart Customer
22            Certified Buyer, Pune
23                        Jan, 2021
24                Terrific purchase
25                              Dev
26       Certified Buyer, Bengaluru
27                        Jun, 2020
28                        Fabulous!
29                    Sakshi Bharti
30       Certified Buyer, New Delhi
31                     7 months ago
32                 Perfect product!
33                      siva sankar
34       Certified Buyer, Thorapadi
35                     8 months ago
36                          Awesome
37                    Parker Chetan
38          Certified Buyer, Margao
39                        May, 2021

In [10]:
df5a = pd.DataFrame({'Rating':ratingx})
df5a

  Rating
0      5
1      5
2      5
3      5
4      5
5      5
6      5
7      5
8      5
9      5

In [11]:
print('Question Six')

Question Six

In [51]:
from selenium.webdriver.common.keys import Keys
driver6 = webdriver.Chrome()
driver6.get('https://www.flipkart.com/')
time.sleep(5)

sneakes_type = driver6.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
sneakes_type.send_keys('sneakers')

# Simulate pressing the Enter key
sneakes_type.send_keys(Keys.RETURN)

sneakers_list = driver6.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
sneakersx = []
for item in sneakers_list:
    snk = item.text.strip()
    sneakersx.append(snk)

In [20]:
print(sneakersx)

['ATOM', 'ATOM', 'URBANBOX', 'Deals4you', 'aadi', 'BRUTON', 'BERSACHE', 'El Paso', 'MEGPAR', 'RED TAPE', 'RUN SEVEN', 'ATOM', 'RED TAPE', 'aadi', 'RED TAPE', 'Footox', 'ATOM', 'VENDOZ', 'Robbie jones', 'Shoe Lab', 'BERSACHE', 'ATOM', 'RED TAPE', 'RED TAPE', 'HOTSTYLE', 'Robbie jones', 'VENDOZ', 'ATOM', 'PUMA', 'asian', 'ATOM', 'ATOM', 'RED TAPE', 'WHITE WALKERS', 'PUMA', 'JACKRUNNER', 'Kraasa', 'BERSACHE', 'RED TAPE', 'RED TAPE']

In [52]:
df6 = pd.DataFrame({'Sneakers':sneakersx})
df6

               Sneakers
0                BRUTON
1   World Wear Footwear
2              URBANBOX
3              RED TAPE
4              RED TAPE
5             Deals4you
6                BRUTON
7             Deals4you
8            streetLOOK
9                BRUTON
10               MEGPAR
11            Deals4you
12             RED TAPE
13             RED TAPE
14             RED TAPE
15             RED TAPE
16               BRUTON
17                 aadi
18             RED TAPE
19             Shoe Lab
20                Krors
21                 aadi
22             RED TAPE
23                 PUMA
24             RED TAPE
25      U.S. POLO ASSN.
26            Deals4you
27              JK PORT
28                 PUMA
29         Robbie jones
30                 ATOM
31                Krors
32             RED TAPE
33                 aadi
34                 aadi
35           streetLOOK
36                Krors
37                Krors
38         Robbie jones
39             RED TAPE