In [14]:
print('Question One')

Question One

In [2]:
print('Start')

Start

In [1]:
#Importing Library
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
# Assigning driver
driver = webdriver.Chrome()

In [3]:
#Getting the web-page
driver.get('https://www.shine.com/')
# setting up delay
time.sleep(5)

In [6]:
job_title = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input" )
job_title.send_keys('Data Analyst')

In [7]:
job_location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
job_location.send_keys('Bangalore')

In [9]:
job_search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
job_search.click()

In [11]:
titles = []
locations = []

In [12]:
title_tag = driver.find_elements(By.XPATH, "//h2[@itemprop='name']/a")
# Iterate over the elements and extract text
for index, item in enumerate(title_tag):
    if index >= 10:
        break
    title = item.text
    titles.append(title)

In [13]:
location_tag = driver.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for index, item in enumerate(location_tag):
    if index >= 10:
        break
    location = item.text
    locations.append(location)

In [12]:
print(titles)

['Lead Data Analyst', 'Data Analyst', 'Vacancy For Data Analyst', 'Clinical Data Analyst', 'Data Modeler data', 'Data Modeller', 'Data Modeler Bangalore', 'Data Modeler', 'Clinical Data Analyst', 'Data Analyst Hiring Fresher and Experience']

In [14]:
df = pd.DataFrame({'Job Title': titles,'Location':locations})
df

                                    Job Title        Location
0                           Lead Data Analyst       Bangalore
1                                Data Analyst   Bangalore\n+3
2                    Vacancy For Data Analyst  Bangalore\n+14
3                       Clinical Data Analyst   Bangalore\n+6
4                           Data Modeler data       Bangalore
5                               Data Modeller       Bangalore
6                      Data Modeler Bangalore       Bangalore
7                                Data Modeler       Bangalore
8                       Clinical Data Analyst   Bangalore\n+4
9  Data Analyst Hiring Fresher and Experience  Bangalore\n+13

In [16]:
print('Question Two')

Question Two

In [15]:
driver2 = webdriver.Chrome()
driver2.get('https://www.shine.com/')
time.sleep(5)

In [17]:
job_title = driver2.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
job_title.send_keys('Data Scientist')

In [18]:
job_location = driver2.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
job_location.send_keys('Bangalore')

In [20]:
job_search = driver2.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
job_search.click()

In [21]:
titles_DS = []
locations_DS = []

In [22]:
# Iterate over the elements and extract text
title_tagDS = driver.find_elements(By.XPATH, "//h2[@itemprop='name']/a")
for index, item in enumerate(title_tagDS):
    if index >= 10:
        break
    title2 = item.text
    titles_DS.append(title2)


location_tagDS = driver.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for index, item in enumerate(location_tagDS):
    if index >= 10:
        break
    location2 = item.text
    locations_DS.append(location2)

In [10]:
print(titles_DS)

['Data Scientist', 'Data Scientist', 'Lead Data Scientist/ Principal Data Scientist', 'Senior Data Scientist', 'Vacancy For Data Scientist Fresher and Experience', 'Lead Data Scientist', 'Data Scientist', 'Data Scientist Urgent Vacancy', 'Data Scientist', 'Pharma Data Scientist']

In [23]:
df2 = pd.DataFrame({'Job Title': titles_DS,'Location':locations_DS})
df2

                                    Job Title        Location
0                           Lead Data Analyst       Bangalore
1                                Data Analyst   Bangalore\n+3
2                    Vacancy For Data Analyst  Bangalore\n+14
3                       Clinical Data Analyst   Bangalore\n+6
4                           Data Modeler data       Bangalore
5                               Data Modeller       Bangalore
6                      Data Modeler Bangalore       Bangalore
7                                Data Modeler       Bangalore
8                       Clinical Data Analyst   Bangalore\n+4
9  Data Analyst Hiring Fresher and Experience  Bangalore\n+13

In [13]:
print('Question Three')

Question Three

In [3]:
driver3 = webdriver.Chrome()
driver3.get('https://www.shine.com/')
time.sleep(5)

In [5]:
job_title = driver3.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input" )
job_title.send_keys('Data Scientist')

job_location = driver3.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
job_location.send_keys('Delhi/NCR')

job_experience = driver3.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[3]/div/input[1]")
job_experience.send_keys('3-6')

In [6]:
job_search = driver3.find_element(By.CLASS_NAME, 'btn.btn-secondary.undefined')
job_search.click()

In [29]:
title_tag3 = driver3.find_elements(By.XPATH, "//h2[@itemprop='name']//a")
titlesx = []

for index, i in enumerate(title_tag3):
    if index >= 10:
        break
    title3 = i.text
    titlesx.append(title3)


location_tag3 = driver3.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
locationsx = []

# Iterate over the elements and extract text
for index, location_element in enumerate(location_tag3):
    if index >= 10:
        break
    location_text = location_element.text
    locationsx.append(location_text)


experience_tag3 = driver3.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
experiencex = []
for index, i in enumerate(experience_tag3):
    if index >= 10:
        break
    experience3 = i.text
    experiencex.append(experience3)

In [30]:
print(locationsx)

['8 to 13 Yrs', '3 to 7 Yrs', '0 to 7 Yrs', '1 to 2 Yrs', '5 to 9 Yrs', '3 to 7 Yrs', '2 to 6 Yrs', '5 to 9 Yrs', '8 to 12 Yrs', '2 to 4 Yrs']

In [32]:
df3 = pd.DataFrame({'Job Title': titlesx,'Location':locationsx,'Experience':experiencex})
df3

,Job Title,Location,Experience
0,Data Scientist | Senior Data Scientist Chennai,8 to 13 Yrs,Chennai
1,Data Scientist/Data Analyst-17740,3 to 7 Yrs,All India
2,Data Scientist /Quantitative Equity Researcher 2,0 to 7 Yrs,Other Maharashtra
3,Data Scientist,1 to 2 Yrs,Hyderabad\n+1
4,Data Scientist,5 to 9 Yrs,Other Haryana
5,Data Scientist,3 to 7 Yrs,All India
6,Data Scientist,2 to 6 Yrs,Other Karnataka
7,Lead Data Scientist,5 to 9 Yrs,Other Karnataka
8,Lead Data Scientist,8 to 12 Yrs,Other Maharashtra\n+1
9,Data Scientist,2 to 4 Yrs,Other Karnataka

In [33]:
print('Question Four')

Question Four

In [2]:
driver4 = webdriver.Chrome()
driver4.get('https://www.flipkart.com/')
time.sleep(5)

In [3]:
product_search = driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product_search.send_keys('sunglasses')

In [4]:
product_rate = driver4.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')

In [9]:
print(product_run2)

<selenium.webdriver.remote.webelement.WebElement (session="76557651003aba13d8cdd69ebc977ca3", element="0CFFA7957109D249E8C736215E029F05_element_188")>

In [6]:
# Now proceed with finding elements
product_tags = driver4.find_elements(By.XPATH, "//div[@class='_2WkVRV']")

product_tags2 = driver4.find_elements(By.XPATH, "//div[@class='_2WkVRV']")

product_tags3 = driver4.find_elements(By.XPATH, "//div[@class='_2WkVRV']")

#Defining list
productx = []

# Iterate over the elements and extract text
for i in product_tags:
    produce = i.text
    productx.append(produce)

for i in product_tags2:
    produce2 = i.text
    productx.append(produce2)

In [9]:
print(productx)

['ROZZETTA CRAFT', 'NuVew', 'Elligator', 'ROYAL SON', 'ROYAL SON', 'Elligator', 'PROVOGUE', 'ROYAL SON', 'PIRASO', 'Fastrack', 'Eyenaks', 'AISLIN', 'Singco India', 'Singco India', 'PIRASO', 'PIRASO', 'ROYAL SON', 'NuVew', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROYAL SON', 'NuVew', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Royaltail', 'Rich Club', 'AISLIN', 'NuVew', 'SRPM', 'PIRASO', 'ROYAL SON', 'Eyewearlabs', 'Singco India', 'METRONAUT', 'PIRASO', 'PC STAR', 'Hooper', 'ROYAL SON', 'BKGE', 'Elgator', 'ROZZETTA CRAFT', 'NuVew', 'Elligator', 'ROYAL SON', 'ROYAL SON', 'Elligator', 'PROVOGUE', 'ROYAL SON', 'PIRASO', 'Fastrack', 'Eyenaks', 'AISLIN', 'Singco India', 'Singco India', 'PIRASO', 'PIRASO', 'ROYAL SON', 'NuVew', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROYAL SON', 'NuVew', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Royaltail', 'Rich Club', 'AISLIN', 'NuVew', 'SRPM', 'PIRASO', 'ROYAL SON', 'Eyewearlabs', 'Singco India', 'METRONAUT', 'PIRASO', 'PC STAR', 'Hooper', 'ROYAL SON', 'BKGE', 'Elgator']

In [7]:
dt4 = pd.DataFrame({'Product':productx})
dt4

           Product
0   ROZZETTA CRAFT
1        Royaltail
2           PIRASO
3        ROYAL SON
4           PIRASO
..             ...
75        PROVOGUE
76       ROYAL SON
77       ROYAL SON
78          PIRASO
79       ROYAL SON

[80 rows x 1 columns]

In [8]:
print('Question 5')

Question 5

In [13]:
driver5 = webdriver.Chrome()
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')
time.sleep(5)

In [17]:
product_runs = driver5.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/div/div[1]/div[2]/div[3]/div/div/div/div[1]/div')
ratingx = []

# Iterate over the elements and extract text
for product_run in product_runs:
    rating = product_run.text
    ratingx.append(rating)

In [18]:
print(ratingx)

['5']